@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

div:active,
div:focus {
  outline: none;
}

h1,
p {
  margin: 0;
}

.block {
  display: block;
}

.indent {
  padding-left: 20px;
}

.contents {
  font-family: 'Noto Sans KR', sans-serif;
  max-width: 1200px;
  margin: 50px auto 0;
  width: 100%;
  height: 100%;
  min-height: 990px;
}

.home {
  opacity: 0.5;
  background-image: url('./image/home.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 780px;
}

.home > .contents {
  z-index: 1;
  margin: 0;
  min-height: 0;
  font-size: 50px;
  height: auto;
  width: auto;
  position: absolute;
  font-weight: bold;
  left: 44%;
  transform: translateY(55%);
}

.wrapper {
  box-shadow: 0px 0px 4px 0px #d5d5d5;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  display: flex;
  background-color: white;
}

.wrapper img {
  width: 280px;
  height: 550px;
  margin: 0 20px 0 0;
  border: 1px solid #dddddd;
}

.description {
  width: 42%;
  margin: 0 0 0 30px;
}

.line {
  margin: 30px 0 0 0;
}

.block:nth-child(1) {
  padding: 30px 0 0 0;
  border-top: 1px solid #d5d5d5;
}

.line > .block:nth-child(2n + 3) {
  margin-top: 30px;
}

.high {
  color: red;
}

#root .slick-prev:before {
  margin-left: -35px;
}

#root .slick-prev:before,
#root .slick-next:before {
  font-size: 50px;
}

#root .react-tabs__tab-panel {
  background-color: #e9eef1;
}
