@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

@media only screen and (min-width: 961px) {
  .App {
    height: 720px;
  }
  .home {
    min-height: 590px;
  }

  .home > .contents {
    font-size: 2.5em;
    left: 15%;
    transform: translateY(95%);
  }

  .slick-list {
    width: 1200px;
  }

  .description {
    width: 42%;
    margin: 0 0 0 30px;
  }

  .wrapper img {
    width: 280px;
    height: 550px;
    margin: 0 20px 0 0;
    border: 1px solid #dddddd;
  }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
  .App {
    height: 650px;
  }

  .home {
    min-height: 480px;
    width: 100%;
    height: 0;
    padding-top: calc (300 / 1000 * 100%);
  }

  .home > .contents {
    font-size: 1.8em;
    left: 15%;
    transform: translateY(90%);
  }

  .slick-slider,
  .slick-list {
    min-width: 850px;
  }

  .description {
    width: 42%;
    margin: auto;
    margin-right: 10px;
  }

  h1 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1em;
  }

  .wrapper img {
    width: 200px;
    height: 350px;
    margin: auto;
    margin-right: 20px;
    border: 1px solid #dddddd;
  }

  .wrapper {
    min-height: 530px;
  }

  .line {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 480px) {
  .App .react-tabs__tab {
    padding: 0 20px 20px;
  }

  .App .project .react-tabs__tab-panel {
    padding: 50px 56px;
  }

  .App .home > .contents {
    font-size: 0.7em;
    left: 15%;
    transform: translateY(40%);
  }

  .App #react-tabs-5 {
    font-size: 0.7em;
  }

  .App {
    height: 380px;
  }

  .home {
    min-height: 195px;
  }

  .home > .contents {
    font-size: 0.7em;
    left: 15%;
    transform: translateY(80%);
  }

  .slick-slider,
  .slick-list {
    min-width: 850px;
  }

  .description {
    width: 42%;
    margin: auto;
    margin-right: 10px;
  }

  h1 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 0.8em;
  }

  .wrapper img {
    width: 200px;
    height: 350px;
    margin: auto;
    margin-right: 20px;
    border: 1px solid #dddddd;
  }

  .wrapper {
    min-height: 530px;
  }

  .line {
    font-size: 0.5em;
  }
}

div:active,
div:focus {
  outline: none;
}

h1,
p {
  margin: 0;
}

.block {
  display: block;
}

.indent {
  padding-left: 20px;
}

.contents {
  font-family: 'Noto Sans KR', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-height: 595px;
}

.home {
  opacity: 0.5;
  background-image: url('./image/home.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.home > .contents {
  z-index: 1;
  min-height: 0;
  width: fit-content;
  position: relative;
  font-weight: bold;
}

.wrapper {
  box-shadow: 0px 0px 4px 0px #d5d5d5;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  display: flex;
  background-color: white;
}

.line {
  margin: 30px 0 0 0;
}

.block:nth-child(1) {
  padding: 30px 0 0 0;
  border-top: 1px solid #d5d5d5;
}

.line > .block:nth-child(2n + 3) {
  margin-top: 30px;
}

.high {
  color: red;
}

#root .slick-prev:before {
  margin-left: -35px;
}

#root .slick-prev:before,
#root .slick-next:before {
  font-size: 50px;
}

.react-tabs__tab-panel {
  background-color: #f6f6f6;
  padding: 50px;
  display: flow-root;
}
